---
enabled_services:
  - { service_name: "fail2ban" }

fail2ban_banaction: firewallcmd-rich-rules[actiontype=<multiport>]
fail2ban_banaction_allports: firewallcmd-rich-rules[actiontype=<allports>]

fail2ban_bantime: 1h
fail2ban_maxretry: 3

firewalld_ports:
  - { zone: public, port: 22/tcp, state: enabled, permanent: true }
  - { zone: public, port: 55555/udp, state: enabled, permanent: true }

soft_list:
  - { name: "fail2ban" }
  - { name: "logrotate" }
  - { name: "ufw" }
  - { name: "iptables" }

sshd_config_path:
  - { path: "/etc/ssh/sshd_config" }

ssh_desired_port: 8222

sudoers_groups:
  - { group: "my_super_group", commands: ALL, host: ALL, runas: ALL }

users_details:
  - { name: test_user, remove: false, passwd: "" }

user_groups:
  - { user: padremortius, groups: "wheel" }

user_ssh_keys:
  - { user: test_user, key: "ssh-ed25519 AAAAZ...", comment: test_user@computer.local }
