# SPDX-License-Identifier: MIT-0
---
# tasks file for update-pkgs
- name: Update list packages and upgrade apk packages
  ansible.builtin.import_tasks: alpine-update.yml
  when: ansible_distribution == 'Alpine'

- name: Update list packages and upgrade deb packages
  ansible.builtin.import_tasks: debian-update.yml
  when: ansible_distribution == 'Debian'

# - name: Reboot machine
#   ansible.builtin.reboot:
#     test_command: whoami

- name: Print current release
  ansible.builtin.debug:
    msg: "Hostname: {{ ansible_hostname }}, OS version: {{ ansible_lsb.id }} {{ ansible_lsb.major_release }}.{{ ansible_lsb.release }}"
