---
- name: Add PGP key to apt
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: "{{ docker_keyring }}"
    mode: '0644'

- name: Remove old file
  ansible.builtin.file:
    dest: /etc/apt/sources.list.d/docker.list
    state: absent

- name: Add docker repository to apt
  ansible.builtin.lineinfile:
    dest: /etc/apt/sources.list.d/docker.sources
    create: true
    regexp: '^{{ item.property }}:'
    line: "{{ item.property }}:{{ item.value }}"
    state: present
    mode: '0644'
  loop:
    - { property: 'Types', value: 'deb' }
    - { property: 'URIs', value: '{{ docker_repo_url }}' }
    - { property: 'Suites', value: '{{ ansible_distribution_release }}' }
    - { property: 'Components', value: 'stable' }
    - { property: 'Signed-By', value: '{{ docker_keyring }}' }
